<!-- {{page.carrier}} -->
{% assign interfaces=site.data.carriers[page.carrier].interfaces %}

<ul>
    {% for interface in interfaces %}
    <li>
        {{interface[1].name}}
        {% assign interface_name=interface[0] %}
        {% assign implementations=site.data.carriers[page.carrier].interfaces.[interface_name].implementations.shipcloud %}
        <!-- {% assign entries=site.data.carriers[page.carrier].interfaces.[interface_name].implementations.shipcloud.services %} -->
        <ul>
            {% for implementation in implementations %}
                
                {% assign implementation_name=implementation[0] %}
                {% if implementation_name != "field_lengths" %}
                    {% assign entries=site.data.carriers[page.carrier].interfaces.[interface_name].implementations.shipcloud.[implementation_name] %}
                    <li>
                        {{implementation_name}}
                        <ul>
                            {% for entry in entries %}
                            <li>
                                <a href="#{{ entry.key }}">
                                    {{ entry.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
