<!-- {{page.carrier}} -->
{% assign interfaces=site.data.carriers[page.carrier].interfaces %}
{% assign detailed_services = "additional_services, services, other_attributes" | split: ", " %}

<div id="sub-nav" data-spy="affix">

{% for interface in interfaces %}
    <a href="#{{ interface[1].display_name | slugify }}">  
        {{ interface[1].display_name }}
    </a>
    {% assign interface_name=interface[0] %}
    {% assign implementations=site.data.carriers[page.carrier].interfaces.[interface_name].implementations.shipcloud %}
    <!-- {% assign entries=site.data.carriers[page.carrier].interfaces.[interface_name].implementations.shipcloud.services %} -->
    <ul class="nav">
        {% for implementation in implementations %}
            {% assign implementation_name=implementation[0] %}
            {% if detailed_services contains implementation_name %}
                {% assign entries=site.data.carriers[page.carrier].interfaces.[interface_name].implementations.shipcloud.[implementation_name] %}
                <li>
                    <a href="#{{ interface_name | slugify }}-{{ implementation_name | slugify }}">
                        {{ implementation_name | replace: '_', ' ' | capitalize }}
                    </a>
                    <ul class="nav">
                        {% for entry in entries %}
                        <li>
                            <a href="#{{ interface_name | slugify }}---{{ entry.key | slugify }}">
                                {{ entry.display_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="#{{ interface_name | slugify }}-{{ implementation_name | slugify }}">
                        {{ implementation_name  | replace: '_', ' ' | capitalize}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}

</div>
